<p-card header="New Menu Item">
  <form [formGroup]="newMenuItemForm" (submit)="submitNewMenuItem()">
    <div class="flex flex-column gap-2">
      <label for="name">Name</label>
      <input pInputText name="name" type="text" formControlName="name" />

      <label for="description">Description</label>
      <input
        pInputText
        name="description"
        type="text"
        formControlName="description"
      />

      <!-- TODO: We want to be able to create options on the spot -->
      <label for="options">Options</label>
      <p-autoComplete
        name="options"
        formControlName="options"
        [suggestions]="filteredOptions()"
        (completeMethod)="filterMenuItemOptions($event)"
        [multiple]="true"
        [dropdown]="true"
      ></p-autoComplete>

      <label for="image">Image</label>
      @if (file) {
      <div><p-image width="100px" [src]="image" [preview]="true" /></div>
      } @else {
      <p-fileUpload
        mode="basic"
        chooseLabel="Upload Image"
        name="image"
        accept="image/*"
        [auto]="true"
        [multiple]="false"
        [customUpload]="true"
        [maxFileSize]="500000"
        (uploadHandler)="onUpload($event)"
      >
      </p-fileUpload>
      }

      <div class="flex flex-row justify-content-end">
        <button pButton type="submit" class="primary">Add Menu Item</button>
      </div>
    </div>
  </form>
</p-card>
